@charset "UTF-8";

@import '../assets/fonts/FZSTK.css';
@import '../assets/fonts/MAGNETOB.css';
@import './animation.scss';

.unselected {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  z-index: 99999;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #ededed;
  z-index: 99999;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #ccc;
  z-index: 99999;
}

body {
  font-size: 14px;

  .flex {
    display: flex;
    flex-direction: row;

    &.flex-column {
      flex-direction: column;
    }
  }

  * {
    box-sizing: border-box;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    list-style: none;
  }

  .markdown {
    @import './markdown.scss';
  }

  #nprogress .bar {
    z-index: 21000;
  }
}
