.code-box {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    z-index: 99999;
  }

  ::-webkit-scrollbar-track {
    border-radius: 6px;
    background: unset;
    z-index: 99999;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #ccc;
    z-index: 99999;
  }

  .CodeMirror-hscrollbar {
    bottom: 3px;
  }
}
